/* CSS for the three columns of product cards at the bottom */
.row_product {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
  box-sizing: border-box;
}

.columnar-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 100%;
  text-align: center;
  font-family: arial;
  margin: 5px;
}

.columnar-card a {
  text-decoration: none;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.columnar-card a:hover {
  background-color: #ddd;
  top: -10px;
}

.columnar-card p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}