/* Style the search field */
.search-container input[type=text] {
	padding: 10px;
	font-size: 12px;
	border: 1px solid #ccc; /* Gray border */
	/*border-radius: 4px;*/
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	width: 10%;
	float: right;
	overflow: hidden;
	background: #f1f1f1;
	margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
	font-family: Arial, Helvetica, sans-serif;
	border-left: none;
}

/* Style the submit button */
.search-container button {
  float: right;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #ccc; /* Gray border */
  /*border-radius: 4px;*/
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background: red;
  color: white;
  font-size: 12px;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  /*border: 1px solid grey;*/
  border-right: none; /* Prevent double borders */
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}